@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: century gothic;
  line-height: 1.6;
  font-size: 14px;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
}
body.fh5co-offcanvas {
  overflow: hidden;
}

a {
  color: #F78536;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}
a:hover {
  text-decoration: none;
  color: #F78536;
}

p, ul, ol {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  font-family: century gothic;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a5a5a;
  font-family: century gothic;
  font-weight: 400;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2em;
}

#fh5co-header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}
.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #222222;
}
/*custom styles*/
.fh5co-hero .container{
	padding:0;
}
.pnr-form{
	border: solid 1px #b9b4b4;
	border-radius: 9px;
	padding: 20px;
	margin: 18px 0px;
}
.pnr-form input{
	border: solid 1px #b9b4b4;
	border-radius: 25px;
	height: 35px;
	padding: 4px 14px;
}
.pnr-form .form-group{
	margin-bottom: 5px;
}
.pnr-form button{
	background: #ff6633;
	color: #fff;
	width: 100%;
	border-radius: 25px;
	padding: 5px 0px 6px;
	border: solid 1px #333;
	text-transform: capitalize;
	letter-spacing: 0;
	font-weight: bold;
	font-size: 15px;
	line-height: normal;
	margin-top:10px;
}
.pnr-form .has-error span p{
	margin-bottom: 0;
	color: #cf0606;
	font-size: 12px;
}
.tabulation h2{
	margin: 10px 0;
	vertical-align: middle;
	color: #ff6633;
	font-weight: bold;
	font-size:38px;
	text-transform:uppercase;
}
.pnr-box {
	border: solid 1px #e4d6d6;
	border-top: none;
	border-bottom: none;
}
#fh5co-page .panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-top: solid 3px #999 !important;
	border-color: transparent;
}
#fh5co-page .panel-title {
	font-size: 14px;
}
#fh5co-page .panel-title > a {
	display: block;
	text-decoration: none;
}
#fh5co-page  .more-less {
	float: right;
	color: #212121;
	background: #ddd;
	width: 30px;
	height: 22px;
	border-radius: 5px;
	text-align: center;
	padding-top: 4px;
	font-size: 14px;
}
#fh5co-page  .panel-default > .panel-heading {
	background:none;
	padding:6px 10px;
}
#fh5co-page  .panel-body{
	color: #333;
	font-size: 14px;
}
/*topbar css*/
.top-bar{
	background: #333;
}
.top-bar img{
	width:120px;
}
.bid-tab{
	margin: 20px 0;
}
.bid-tab .nav-tabs{
	background: #666;
	font-family: century gothic;
}
.bid-tab .nav-tabs li a{
	color:#fff;
}
.bid-tab .nav-tabs .badge{
	background: #fff;
	color: #ff6633;
	border: solid 1px #333;
}
.bid-tab .tab-content .tab-pane h3{
	margin-bottom: 10px;
	color: #ff6633;
	font-size: 17px;
	font-weight: bold;
}
.bid-tab .tab-content{
	margin:20px 0;
}
.bid-tab .tab-content .tab-pane p{
	margin: 7px 0 2px;
	color: #333;
	font-family: century gothic;
	font-size: 14px;
}
.bid-tab .tab-content .tab-pane ol li{
	font-family:century gothic;
	color:#333;
	font-size:14px;
}
.bid-tab .tab-content .tab-pane ol {
	margin-bottom: 6px;
}
.bid-tab .tab-content .pass-info p span{
	color: #ff6633;
	margin-left: 12px;
}
.bid-tab .tab-content .pass-info p{
	font-weight:bold;
}
.bid-tab .tab-content .pass-info h2{
	background: #ff6633;
	color: #fff;
	font-size: 14px;
	padding: 8px;
	margin-bottom: 8px;
	font-weight: bold;
}
.bid-tab .tab-content .pass-info .col-md-4, .bid-tab .tab-content .pass-info .col-md-3, .bid-tab .tab-content .pass-info .col-md-5{
	padding:0;
}
.bid-tab .tab-content .pass-info .bid-info ul{
	padding-left: 0;
	list-style: none;
	font-size: 12px;
	color: #333;
	font-family: century gothic;
	margin-bottom: 0;
}
.bid-tab .tab-content .pass-info .bid-info ul li:last-child{
	color:#ff6633;
}
.bid-tab .tab-content .pass-info .bid-radio label{
	color: #333;
	font-size: 14px;
	padding-left: 40px;
}
.bid-tab .tab-content .pass-info .bid-info{
	display: flex;
	margin-bottom: 10px;
	padding: 0 12px;
}
.bid-tab .tab-content .pass-info .bid-radio{
	margin-bottom: 3em;
}
.bid-tab .tab-content .pass-info .bid-info p {
	position: relative;
	color: #ff6633;
}
.bid-tab .tab-content .pass-info .bid-info p i{
	color:#333;
	left: -18px;
	position: relative;
}
.bid-tab .tab-content .pass-info .bid-visible{
		opacity:0.5;
}
.bid-tab .side-image img{
	height:100px;
}
.bid-tab  #payment .side-image img{
	width:100%;
	height:150px;
}
.bid-tab  #payment h2{
	margin: 12px 0;
	font-size: 15px;
	color: #333;
}
.bid-tab  #payment .booking-ref{
	background: #ddd;
	border-radius: 3px;
}
.bid-tab  #payment .back-btn{
	margin-right: -7px;
	padding-left: 0;
}
.bid-tab  #payment .back-btn .btn-danger{
	width: 100%;
	background: #ff6633;
	border: none;
}
.bid-tab .side-image{
	margin-bottom:5px;
}
.bid-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color: #ff6633;
	border: none;
	border-bottom-color: #ff6633;
	cursor: pointer;
	color:#fff;
}
.bid-tab .nav-tabs > li a:before{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.bid-tab .nav-tabs > li > a:hover {
    border-color: #333;
}
.bid-tab .nav-tabs li{
	padding:0;
}
.payment-box{
	background: #f5f5f5;
	padding: 16px;
	border-radius: 3px;
}
.payment-box .card-exp input{
	width: 58px;
	padding: 3px;
	text-align: center;
	height: 36px;
	color: #333;
	display: inline-block;
}
.payment-box .card-exp label{
	display: table;
}
.payment-box .actual-cash{
	margin-top:4em;
}
.payment-box .actual-cash p i{
	margin-left:10px;
}
.payment-box .actual-cash .btn-danger{
	background: #ff6633;
	border: none;
	padding: 10px 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 15px;
}
#payment .pay-info p{
	color: #ff6633;
}
#payment .pay-info{
	margin: 20px 0;
}
.payment-box  label{
	margin-top:15px;
	color:#333;
	text-transform:capitalize;
	font-size:14px;
}
#payment .price-range{
	background: #f5f5f5;
	padding: 14px;
	margin: 20px 0px;
}
#offer .price-range{
	background: #f5f5f5;
	padding: 14px;
	margin-bottom: 4em;
}
#offer .pass-info .btn-danger{
	background: #ff6633;
	border: none;
	padding: 9px 13px;
	margin-bottom:20px;
}
.bid-tab .sw-toolbar-top , .bid-tab .sw-toolbar-bottom{
	display:none;
}

/*arrow tabs*/
.sw-theme-arrows > ul.step-anchor {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 0px;
    background: #f5f5f5;
    border-radius: 0;
    border-top-right-radius: 5px;
    list-style: none;
    overflow: hidden;
}
.sw-theme-arrows > ul.step-anchor > li > a, .sw-theme-arrows > ul.step-anchor > li > a:hover {
    color: #fff;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    border: 0 !important;
    border-radius: 0;
    outline-style: none;
    background: #666;
}

.sw-theme-arrows > ul.step-anchor > li > a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.sw-theme-arrows > ul.step-anchor > li > a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ddd;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.sw-theme-arrows > ul.step-anchor > li.active > a {
    border-color: #ff6633 !important;
	color: #fff !important;
	background: #ff6633 !important;
}

.sw-theme-arrows > ul.step-anchor > li.active > a:after {
    border-left: 30px solid #ff6633 !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a {
    border-color: #666 !important;
	color: #fff !important;
	background: #666 !important;
}

.sw-theme-arrows > ul.step-anchor > li.done > a:after {
    border-left: 30px solid #666;
 /* c3e6cb */;
}

.sw-theme-arrows > ul.step-anchor > li.danger > a:after {
    border-left: 30px solid #d9534f !important;
}
/*paysuccess box*/
.paysucces-box{
	margin-top: 6em;
	border: solid 1px #333;
	border-radius: 10px;
	padding: 40px;
}
.paysucces-box .success-payment{ 
	text-align: center;
	background: #f5f5f5;
	padding: 20px;
}
.paysucces-box .success-payment p{ 
	color: #333;
	font-family: century gothic;
	font-size: 18px;
	margin-bottom: 10px;
}
/*email temp css*/
.email-temp1 p{
	text-align:center;
}
.email-temp1{
	border:solid 1px #333;
	margin-top:20px;
}
.email-temp1 .header-email{
	background-image: url(../../../assets/home/images/temp1-hdr-bg.jpg);
	margin-top: 20px;
}
.email-temp1 .header-email .pull-right{
	color:#333;
}
.email-temp1 .header-email .pull-right b{
	color: #ff6633;
	font-size: 28px;
}
.email-temp1 .btn-danger{
	background: #ff6633;
	font-weight: bold;
	padding: 8px 26px;
	font-size: 23px;
	border-radius: 33px;
	border: none;
}
.email-temp1 .header-email h1{
	margin-bottom: 8px;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 12px;
}
.email-temp2 .header-email img{
	margin-right: auto;
	margin-left: auto;
}
.email-temp2 h1{
	margin-bottom: 10px;
	color: #ff6633;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	margin-top: 1em;
}
.email-temp2 p{
	text-align:center;
}
.email-temp2 .info p{
	font-size: 12px;
}
.email-temp2 .btn-danger{
	background: #ff6633;
	font-weight: bold;
	padding: 8px 26px;
	font-size: 23px;
	border-radius: 33px;
	border: none;
}
.email-temp2{
	border:solid 1px #333;
	margin-top:20px;
	padding: 20px 0px;
}
.email-temp2 .booking-ref img{
	width:100%;
}
.email-temp2 .booking-ref p{
	border:dotted 1px #333;
	margin:10px 0px;
	padding:3px 15px;
}
.email-temp3 h3{
	margin: 10px 0;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}
.email-temp3 h1{
	margin-bottom: 12px;
	color: #ff6633;
	font-weight: bold;
	font-size: 20px;
}
.email-temp3 p span{
	font-size:13px;
}
.email-temp3 .info p{
	font-size: 13px;
	text-align: center;	
}
.email-temp3 .info{
	margin-top: -24px;
}
.email-temp3 .btn-danger{
	background: #ff6633;
	font-weight: bold;
	padding: 5px 18px;
	font-size: 17px;
	border-radius: 33px;
	border: none;
}
.email-temp3 .bk-info{
	position: relative;
	top: -50px;
	left: 30px;
	border: dotted 1px #f5f5f5;
	font-size: 15px;
}
.email-temp3{
	border:solid 1px #333;
	margin-top:20px;
}
/*bid success*/
.bid-strip{
	background: #f5f5f5;
	height: 38px;
	margin: 16px 0;
}
.bid-success-box .congo-info span{
	color:#ff6633;
	font-weight:bold;
	margin-right:8px;
}
.bid-success-box p{
	font-size:14px;
}
.bid-success-box .track-info span{
	font-weight: bold;
	color: #ff6633;
}
.bid-success-box .table .table-hover{
	width:100%;
}
.bid-success-box .table-hover thead{
	background: #ff6633;
	color: #fff;
	text-transform: capitalize;
}
.bid-success-box .table-hover thead tr th, .bid-success-box .table-hover tbody tr td{
	padding: 6px 10px;
}
.bid-success-box .table-hover tbody tr td{
	color:#333;
	background:#f5f5f5;
}
.bid-success-box .note-ex-info .web-link span{
	font-weight:bold;
	color:#ff6633;
}
.bid-success-box .upgrade-list {
	list-style-type:none;
}
.bid-success-box .upgrade-list li:before{
	content: '\f111';
	font-family: 'FontAwesome';
	margin-right: 6px;
	color: #ff6600;
	font-size: 10px;
}
.bid-success-box .upgrade-card-info{
	background: #f5f5f5;
	padding: 15px;
	margin-bottom: 10px;
}
.bid-success-box .upgrade-card-info li span{
	display: inline-block;
	width: 38%;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 12px;
}
.bid-success-box .upgrade-card-info ul{
	list-style: none;
	padding-left: 0;
}
.bid-success-box .share ul{
	list-style:none;
	padding-left: 0;
}
.bid-success-box .share ul li{
	float: left;
	background: #10aec8;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	font-size: 24px;
	margin-right:10px;
}
.price-range .slider-horizontal{
	width:200px !important;
	margin: 0 8px;
}
.price-range b{
    font-size: 12px;
	color:#333;
}
 #ex1Slider .slider-selection {
	background: #f2126f;
    } 
#ex1Slider .slider-handle {
	background: #ff6633;
}
#ex1Slider .slider12a{
	background: #f2126f;
}

