<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent
 
 {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}

p, h1,ul,ol,li,div{
  margin:0;
  padding:0;
  font-size:14px;
}
td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a.link1{
  color:#D0021B;
  text-decoration:none;
}

.link2{
font-size:13px;
color:#999999;
text-decoration:none;
line-height:19px;
}

@media only screen and (max-width:480px)
		
{
		
table[class="MainContainer"], td[class="cell"] 
	{
		width: 100% !important;
		height:auto !important; 
	}
td[class="specbundle"] 
	{
		width: 100% !important;
		float:left !important;
		font-size:13px !important;
		line-height:17px !important;
		display:block !important;
		padding-bottom:15px !important;
	}	
td[class="specbundle2"] 
	{
		width:90% !important;
		float:left !important;
		font-size:14px !important;
		line-height:18px !important;
		display:block !important;
		padding-bottom:10px !important;
		padding-left:5% !important;
		padding-right:5% !important;
	}
		
td[class="spechide"] 
	{
		display:none !important;
	}
	    img[class="banner"] 
	{
	          width: 100% !important;
	          height: auto !important;
	}
		td[class="left_pad"] 
	{
			padding-left:15px !important;
			padding-right:15px !important;
	}
		 
}
	
@media only screen and (max-width:540px) 

{
		
table[class="MainContainer"], td[class="cell"] 
	{
		width: 100% !important;
		height:auto !important; 
	}
td[class="specbundle"] 
	{
		width: 100% !important;
		float:left !important;
		font-size:13px !important;
		line-height:17px !important;
		display:block !important;
		padding-bottom:15px !important;
	}	
td[class="specbundle2"] 
	{
		width:90% !important;
		float:left !important;
		font-size:14px !important;
		line-height:18px !important;
		display:block !important;
		padding-bottom:10px !important;
		padding-left:5% !important;
		padding-right:5% !important;
	}
		
td[class="spechide"] 
	{
		display:none !important;
	}
	    img[class="banner"] 
	{
	          width: 100% !important;
	          height: auto !important;
	}
		td[class="left_pad"] 
	{
			padding-left:15px !important;
			padding-right:15px !important;
	}
		
}
</style>
<div align="center">

<table align="center" border="0" cellpadding="0" cellspacing="0" class="tableContent" style="font-family:helvetica, sans-serif;" width="100%"><!-- ================ header=============== -->
	<tbody>
		<tr>
			<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="MainContainer" style="border: solid 1px #999;box-shadow: 0px 0px 20px -8px #000;" width="600"><!-- END HEAD --><!-- BODY -->
				<tbody>
					<tr>
						<td class="movableContentContainer">
						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td bgcolor="#ffffff" height="22">&nbsp;</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td class="spechide" valign="top" width="20">&nbsp;</td>
												<td>
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr align="center">
															<td class="specbundle2" valign="top" width="340">
															<div class="contentEditableContainer contentImageEditable">
															<div class="contentEditable"><img alt="[CLIENTS.COMPANY_NAME]" data-max-width="340" src="{airline_logo}" width="150" /></div>
															</div>
															</td>
															<td align="right" valign="top" width="18">
															<div class="contentEditableContainer contentImageEditable" style="display:inline-block;">
															<div class="contentEditable"><a href="{openbrowser_link}" target="_blank"><img alt="open in browser image" data-default="placeholder" height="15" src="{open_browser}" style="padding-left:10px;" width="15" /></a></div>
															</div>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
												<td class="spechide" valign="top" width="20">&nbsp;</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td bgcolor="#ffffff" height="22">&nbsp;</td>
								</tr>
								<tr>
									<td bgcolor="#B57801">
									<div class="contentEditableContainer contentImageEditable">
									<div class="contentEditable"><img alt="Happy Christmas!" border="0" class="banner" data-default="placeholder" data-max-width="600" height="400" src="{up_tpl_bnr}" width="600" /></div>
									</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table bgcolor="#D0021B" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td colspan="3" height="45">&nbsp;</td>
								</tr>
								<tr>
									<td width="125">&nbsp;</td>
									<td>
									<table border="0" cellpadding="0" cellspacing="0" width="350">
										<tbody>
											<tr>
												<td>
												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" style="font-family:Georgia;color:#ffffff;text-align:center;">
												<p style="font-size:28px;">Congratulations {first_name} !!!</p>
												&nbsp;

												<p style="font-size:16px;">You are Eligible for Baggage and Upgrade Offer</p>
												</div>
												</div>
												</td>
											</tr>
											<tr>
												<td>
												<div class="contentEditable" style="text-align:center;">
												<h2 style="font-size: 19px;font-style: italic;position: relative;top: 0;color: #f5f5f5;background: #333;width: auto;padding: 9px 20px;display: inline-block;">Upgrade to <span style="font-size: 18px;text-align: center;color: yellow;position: relative;text-transform: uppercase;text-shadow: 0px 2px 6px #000;"><b>{highest_upgrade_class} Class</b></span></h2>
												</div>
												</td>
											</tr>
											<tr>
												<td height="25">&nbsp;</td>
											</tr>
										</tbody>
									</table>
									</td>
									<td width="125">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table bgcolor="#D0021B" border="0" cellpadding="0" cellspacing="0" width="100%"><!--{offer_data}-->
							<tbody>
								<tr>
									<td width="125">&nbsp;</td>
									<td>
									<table border="0" cellpadding="0" cellspacing="0" width="550">
										<tbody>
											<tr>
												<td>
												<div class="hidden-lg hidden-sm hidden-md" style="font-weight:500;position: relative;min-height: 1px;overflow: auto;width:100%;font-family:calibri;border-bottom:solid 1px #ddd;padding-bottom:10px;">
												<div style="width:100%;text-align:center;color:#fff;">
												<p><b>{from_city_code} - {to_city_code} | {dep_date}, {dep_time}</b></p>
												</div>
												</div>

												<table border="0" cellpadding="0" cellspacing="0" style="border-color:#ddd;" width="100%">
													<tbody>
														<tr>
														</tr>
														<tr>
															<td height="20">&nbsp;</td>
														</tr>
														<tr>
															<td>
															<div class="contentEditable">
															<div class="hidden-lg hidden-sm hidden-md" style="font-weight:500;position: relative;min-height: 1px;overflow: auto;width:100%;margin-bottom: 20px;font-family:calibri;color:#fff;">
															<div style="width:100%;">
															<p><b>Duration : </b><span>{time_diff}</span></p>

															<p><b>Flight : </b><span>{carrier_code}{flight_number}</span></p>

															<p><b>Cabin : </b><span>{current_cabin}</span></p>
															</div>
															</div>
															</div>
															</td>
															<td style="border-left:solid 1px #ddd;" width="10">&nbsp;</td>
															<td>
															<div class="contentEditable">
															<div class="hidden-lg hidden-sm hidden-md" style="font-weight:500;position: relative;min-height: 1px;overflow: auto;width:100%;margin-top:20px;margin-bottom: 20px;font-family:calibri;">
															<div style="width:50%;float:left;color:#fff;">
															<p><b><i>Departure</i></b></p>

															<p><b>{from_city}({from_city_code})</b><br />
															<span>{dep_date}, {dep_time}</span></p>
															</div>

															<div style="width:50%;float:left;color:#fff;">
															<p><b><i>Arrival</i></b></p>

															<p><b>{to_city} ({to_city_code})</b><br />
															<span>{arrival_date}, {arrival_time}</span></p>
															</div>
															</div>
															</div>
															</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
									<td width="125">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="3" height="15">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</div>
						<!--{/offer_data}-->

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table bgcolor="#D0021B" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td width="30">&nbsp;</td>
									<td>
									<div class="hidden-lg hidden-sm hidden-md" style="text-align:right;font-weight:500;position: relative;min-height: 1px;overflow: auto;width:100%;font-family:calibri;">
									<div style="width:100%;"><a href="{bidnow_link}" style="padding:10px 18px;color:#D0021B;background:#fff;text-decoration:none;font-weight:bold;font-size:15px;border-radius:30px;’-moz-border-radius:30px;-webkit-border-radius:30px;font-family:calibri, serif;display:inline-block;" target="_blank">BID NOW</a></div>
									</div>
									</td>
									<td width="30">&nbsp;</td>
								</tr>
								<tr height="30">
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td colspan="5" height="25">&nbsp;</td>
								</tr>
								<tr>
									<td class="spechide" width="40">&nbsp;</td>
									<td class="specbundle2" valign="top" width="238">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td height="65">&nbsp;</td>
											</tr>
											<tr>
												<td align="center">
												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" style="color:#D0021B;text-align:center;">
												<p><i>Excess Baggage<br />
												<span style="font-size:17px;">made easy with online service</span></i></p>
												</div>
												</div>
												</td>
											</tr>
											<tr>
												<td height="15">&nbsp;</td>
											</tr>
											<tr>
												<td>
												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" style="text-align:center;">
												<p style="font-size:34px;color:#D0021B;"><i>carry more with less price </i></p>
												</div>

												<div style="width:100%;"><a href="{bidnow_link}" style="padding:10px 18px;color:#D0021B;background:#fff;text-decoration:none;font-weight:bold;font-size:15px;border-radius:30px;’-moz-border-radius:30px;-webkit-border-radius:30px;font-family:calibri, serif;display:inline-block;" target="_blank">BUY BAGGAGE NOW</a></div>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
									<td class="specbundle2" width="84">&nbsp;</td>
									<td class="specbundle2" valign="top" width="238">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td height="15">&nbsp;</td>
											</tr>
											<tr>
												<td>
												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" style="font-size:14px;color:#333333;line-height:22px;"><img alt="Happy Christmas!" border="0" class="banner" data-default="placeholder" data-max-width="600" height="auto" src="{bg_tpl_bnr}" width="100%" /></div>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
									<td class="spechide" width="20">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td height="55">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table bgcolor="#D0021B" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td height="30">&nbsp;</td>
								</tr>
								<tr>
									<td width="600">
									<div class="contentEditableContainer contentTextEditable">
									<div class="contentEditable" style="font-family:Georgia;font-size:20px;color:#FFFFFF;text-align:center;line-height:32px;">
									<p>Happy Journey!!!<br />
									from everyone at {carrier_name}</p>
									</div>
									</div>
									</td>
								</tr>
								<tr>
									<td height="30">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td bgcolor="#52619E">
									<table align="center" bgcolor="#52619E" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td align="left" bgcolor="#52619E" valign="top" width="416">
												<table align="center" bgcolor="#52619E" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td colspan="3" height="20">&nbsp;</td>
														</tr>
														<tr>
															<td width="30">&nbsp;</td>
															<td valign="middle">
															<div class="contentEditableContainer contentTextEditable">
															<div class="contentEditable">
															<p style="color:#ffffff;font-size:14px;line-height:19px;">Stay in Touch!</p>
															</div>
															</div>
															</td>
															<td width="10">&nbsp;</td>
														</tr>
														<tr>
															<td colspan="3" height="20">&nbsp;</td>
														</tr>
													</tbody>
												</table>
												</td>
												<td align="center" bgcolor="#3E4A7F" valign="top" width="72">
												<table align="center" bgcolor="#3E4A7F" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody>
														<tr>
															<td colspan="3" height="20">&nbsp;</td>
														</tr>
														<tr>
															<td align="center" bgcolor="#3E4A7F" valign="middle" width="100%">
															<div class="contentEditableContainer contentFacebookEditable">
															<div class="contentEditable" valign="middle"><a href="{fb_link}" target="_blank"><img alt="facebook link" data-customicon="true" data-default="placeholder" data-max-width="37" height="37" src="{facebook_icon}" width="37" /></a></div>
															</div>
															</td>
														</tr>
														<tr>
															<td colspan="3" height="20">&nbsp;</td>
														</tr>
													</tbody>
												</table>
												</td>
												<td align="center" bgcolor="#2D3867" valign="top" width="72">
												<table align="center" bgcolor="#2D3867" border="0" cellpadding="0" cellspacing="0" height="72" width="100%">
													<tbody>
														<tr>
															<td colspan="3" height="20">&nbsp;</td>
														</tr>
														<tr>
															<td align="center" bgcolor="#2D3867" valign="middle" width="72">
															<div class="contentEditableContainer contentTwitterEditable">
															<div class="contentEditable" valign="middle"><a href="{twitter_link}" target="_blank"><img alt="twitter link" data-customicon="true" data-default="placeholder" data-max-width="37" height="37" src="{twitter_icon}" width="37" /></a></div>
															</div>
															</td>
														</tr>
														<tr>
															<td colspan="3" height="20">&nbsp;</td>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						<!-- END BODY -->

						<div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%"><!-- FOOTER -->
							<tbody>
								<tr>
									<td align="center" bgcolor="#ffffff" height="100">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td height="20">&nbsp;</td>
											</tr>
											<tr>
												<td align="center">
												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" style="text-align:center;">
												<p><a href="{not_intrested_link}">Help Center | I&#39;m Not Intrested</a></p>
												</div>
												</div>
												&nbsp;

												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable" style="font-size:13px;color:#333;font-weight:bold;">
												<p>{carrier_name} | {primary_phone}</p>
												</div>
												</div>
												</td>
											</tr>
											<tr>
												<td height="10">&nbsp;</td>
											</tr>
											<tr>
												<td align="center" style="font-size:13px;color:#999999;">
												<div class="contentEditableContainer contentTextEditable">
												<div class="contentEditable">
												<p><a class="link2" href="[CLIENTS.WEBSITE]" style="color:#333;" target="_blank">Home</a> | <a class="link2" href="{openbrowser_link}" style="color:#333;" target="_blank"> Open in browser </a> | <a class="link2" href="{forward_friend_link}" style="color:#333;" target="_blank">Forward to a friend</a> | <a class="link2" href="{unsubscribe_link}" style="color:#333;" target="_blank">Unsubscribe</a></p>
												</div>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- end footer--></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>