<div style="width:1170px;margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;background: #333;">
	<div style="margin-left:-15px;margin-right:-15px;padding:0 15px;">
		<img style="width:100px;" src="temp-images/emir.png" alt="logo">
	</div>
</div>
<div style="width:1200px;margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;">
	<div class="row">
		<div style="padding: 12px;border: solid 1px #333;margin-top:15px;font-family:century gothic;">
			<div style="padding-left: 15px;padding-right: 15px;">
				<h3 style="margin:0;font-weight: bold;font-size: 18px;color: #333;">Subject: Upgrade Offer</h3>
				<p style="margin-bottom: 10px;font-size:13px">
					<span>you <valux@info.com> Unsubscribe</span>
					<span style="float: right !important;">Apr 11, 2019, 8:18 AM (1 day ago)</span>
				</p>
			</div>
			<div style="padding-left: 15px;padding-right: 15px;width: 50%;margin-left: 41.66667%;">
				<img style="display: block;max-width: 100%;height: auto;" src="temp-images/temp2-logo.jpg" alt="temp bnr">
			</div>
			<div style="padding-left: 15px;padding-right: 15px;">
				<h1 style="margin:0;color: #ff6633;font-weight: bold;font-size: 20px;">Hi !<span style="float: right;">Help Center | I'm Not Intrested</span></h1>
				<p style="font-size:14px;margin: 10px 0;">
					With AC Bid Upgrade you can enhance your travel experince by enjoying priority. One or more of yourupcoming flight (s) are eligible for bids	
				</p>
				<img style="display: block;max-width: 100%;height: auto;width: 100%;" src="temp-images/temp3-bnr.jpg" alt="temp bnr">
				<p class="col-md-4 bk-info" style="width: 33.33333%;position: relative;top: -50px;left: 30px;border: dotted 1px #f5f5f5;font-size: 15px;"><b>BOOKING REFERENECE: <b style="color:#fff;"><?=$pax_data->pnr_ref?></b></b></p>
			</div>
			<div style="padding-left: 15px;padding-right: 15px;">
				<div style="margin-top: -38px;">
					<p style="font-size:14px;text-align:center;">
						<span>Value X S.r.l. via Paleocapa, 7 - 20121 Milan - Italy - Tax code and VAT number: IT11876271005</span><br>
						You are receiving this email because you subscribed to the Travel Alert service, accepting Value X-  Terms of Service and Privacy Policy .
					</p>
					<p style="text-align:center;"><a type="button" href="#" style="background: #ff6633;font-weight:bold;padding:8px 26px;font-size: 23px;border-radius: 33px;border:none;color:#fff;font-family:century gothic;text-decoration:none;">BID NOW</a></p>
				</div>
			</div>
		</div>
	</div>
</div>